.homeContainer{
    min-height: 100dvh;
    padding-inline: 0px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.carousel{
    height: calc(80dvh - 60px);
    display: flex;
}

.carousel_hover_overlay {
    cursor: pointer;
}
.carousel_hover_overlay .carousel_hover_overlay_text_container {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 210;
    text-transform: uppercase;
    left: 20;
    bottom: 50;
}
.carousel_hover_overlay .carousel_hover_overlay_text_container p {
    color: white;
    text-transform: uppercase;
}

.new_products_section{
    padding-left: 2rem;
    padding-right: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap:2rem
}
.new_products_container{
    padding-left: 2rem;
    width: 100%;
    flex-wrap: wrap;
    padding-right: 2rem;
    gap:1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.categories_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.categories_square{
    flex: 1;
    width: 100%;
    min-width: calc(100dvw / 1);
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}
.categories_square a{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-position: center;
    transition: 1s all;
    filter: brightness(0.9)
}

.categories_square a:hover{
    transform: scale(1.1);
    filter:brightness(0.5)
}

.categories_square p {
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 220;
}


@media (min-width: 48em) {
    .new_products_container {
        gap:1.5rem;
    }

    .categories_square{
        min-width: calc(100dvw / 2);
    }
}
@media (min-width: 1110px) {
    .new_products_container {
        justify-content: flex-start;
    }

    .categories_square{
        min-width: calc(100dvw / 3);
    }
}
@media (min-width: 1780px) {
    .new_products_container {
        justify-content: space-between;
    }
    .categories_square{
        min-width: calc(100dvw / 4);
    }
}