.footer {
    margin-top: 120px;
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);
    background-color: var(--mantine-color-primaryTitular-9);
    border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
}

.logo {
  max-width: 250px;

  @media (max-width: var(--mantine-breakpoint-sm)) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.withText {
  display:flex;
  flex-direction: row;
  gap:10px;
  align-items: center;
  justify-content: center;

  /* @media (max-width: var(--mantine-breakpoint-sm)) {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */
}

.description {
  margin-top: 5px;

  @media (max-width: var(--mantine-breakpoint-sm)) {
    margin-top: var(--mantine-spacing-xs);
    text-align: center;
  }
}

.inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: var(--mantine-breakpoint-sm)) {
    flex-direction: column;
    align-items: center;
  }
}

.groups {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: var(--mantine-breakpoint-sm)) {
    display: none;
  }
}

.wrapper {
  width: 160px;
}

.link {
  display: block;
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-1));
  font-size: var(--mantine-font-size-sm);
  padding-top: 3px;
  padding-bottom: 3px;

  &:hover {
    text-decoration: underline;
  }
}

.title {
  font-size: var(--mantine-font-size-lg);
  font-weight: 600;
  font-family: Outfit, var(--mantine-font-family);
  margin-bottom: calc(var(--mantine-spacing-xs) / 2);
  color: var(--mantine-color-primaryOro-5);
}

.afterFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: var(--mantine-spacing-xl);
  padding-top: var(--mantine-spacing-xl);
  padding-bottom: var(--mantine-spacing-xl);
  border-top: 1px solid var(--mantine-color-primaryOro-9);

  @media (max-width: var(--mantine-breakpoint-sm)) {
    flex-direction: column;
  }
}

.social {
  @media (max-width: var(--mantine-breakpoint-sm)) {
    margin-top: var(--mantine-spacing-xs);
  }
}